@import "../../../theme/mixings";

.flex-center{
    flex-direction: column;
    .modal-header{
        color: var(--coink-primary-color)
    }

    .modal-body{
        width: 100%;
        .custom-input{
            width: 100% !important;
        }
        .flex-center{
             flex-direction: row; 
            gap: 15px;
            .btn{
                border-radius: 5px;
            }
        }
    }
}