.flex-center {
  flex-direction: column;

  .modal-body {
    margin-top: 20px;
    width: 100%;
    .flex-center {
      flex-direction: row;
      gap: 15px;
      .btn {
        border-radius: 5px;
      }
    }
  }
}
