@import "../../../theme/mixings";

.container {
  margin-top: 10px;
  height: 300px;
  overflow-y: scroll;

  &__table {
    border-collapse: collapse;
    background-color: var(--soft-light-color);
    width: 100%;
    &__header {
      background-color: var(--coink-primary-color);
      color: var(--soft-light-color);
      padding: 15px;
      position: sticky;
      margin: 0;
      top: 0;
      .head {
        display: flex;
        justify-content: center;
        &__sort-button {
          padding: 0;
          background-color: transparent;
          border: none;
          cursor: pointer;
          i {
            margin-left: 10px;
          }
          color: var(--app-content-main-color);
        }
      }
      span {
        font-size: 14px;
      }
    }

    &__row {
      .td {
        padding: 20px;
        font-size: 16px;
        border-bottom: 1px solid var(--soft-gray-color);
      }
    }
  }

  &__footer {
    position: sticky;
    bottom: 0;
    height: 20px;
    display: flex;
    padding: 20px;
    background-color: var(--soft-light-color);
    border-top: 1px solid var(--coink-gray-medium-color);
    justify-content: space-between;
    &__label {
      font-size: 14px;
      color: var(--coink-grey-text);
    }
    &__paginator {
      display: flex;
    }

    .numbers {
      padding: 2px 8px 10px 8px;
      height: 10px;
      border-radius: 2px;
      color: var(--coink-primary-color);
      margin: 0 6px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .background {
      background-color: var(--coink-strong-green);
    }

    .directionals {
      padding: 0 10px;
      font-size: 20px;
      color: var(--coink-strong-green);
    }
  }
}

td,
th {
  text-align: center;
  font-size: 14px;
  border: none;
}

.mobile {
  width: 90vw;
}

.table-width{
  min-width: 68%;
  margin-left: 40%;
}

.desktop {
  width: 100%;
}
