
:root{
    --coink-primary-color: #004B40;
    --coink-secondary-color: #001B24;
    --coink-tertiary-color: #C4F6DC;
    --coink-strong-green: #1EEB00;

    --coink-grey-text: #737373;
    --coink-soft-color: #F2F2F2;
    --coink-gray-soft-color:#F9F9F9;
    --coink-gray-medium-color: #D1D1D1;

    --soft-dark-color:#212121;
    --soft-gray-color:#d3d3d3;
    --soft-light-color: #ffffff;
    --soft-shadow-color:#0000001c;

    --error-color: red;

    
}