@import "../../../theme/mixings";

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0 auto;
  background-color: var(--coink-soft-color);

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    &__padding {
      overflow-y: scroll;
      padding: 20px;
      @include desktop {
        padding: 40px;
      }
    }
  }
}

.label-route {
  font-size: 16px;
  margin-bottom: 30px;
  :nth-child(2) {
    color: var(--coink-primary-color);
  }
}
