<div class="sidebar">
  <div class="sidebar-header flex-center">
    <img src="assets/images/header-icon.png" alt="icon coink">
  </div>
  <div class="profile-item">
    <div class="profile-item__info">
      <img src="assets/images/profile-image.png" alt="">
      <div class="profile-item__info__texts">
        <span class="glyphicon glyphicon-lock"></span>
        <label class="open-sans">Jeff</label>
      </div>
    </div>
  </div>
  <ul class="sidebar-list">
    <app-accordion></app-accordion>
  </ul>
</div>