<h1 class="primary-title">SOLICITUD TARJETAS</h1>

<div class="container" *ngIf="!modalForm">
  <button class="container__search roboto-medium"><i class="fa-solid fa-magnifying-glass"></i>Buscar</button>
  <form class="container__form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="inputs">
      <app-default-input [form]="searchForm" formControlName="character" inputName="character" inputClass="custom-input"
        label="Personaje"></app-default-input>
      <app-default-input [form]="searchForm" formControlName="type" inputName="type" inputClass="custom-input"
        label="Tipo">
      </app-default-input>
    </div>
    <div>
      <button class="btn secondary-btn open-sans-bold" type="reset" (click)="getCharacters()">Limpiar filtros</button>
      <button class="btn primary-btn open-sans-bold" type="submit">Buscar</button>
    </div>
  </form>
  <div class="container__solicite">
    <button class="btn secondary-btn open-sans-bold" (click)="modalForm = true">Solicitar tarjetas</button>
  </div>
  <app-custom-table [headers]="tableHeaders" [data]="characterList"></app-custom-table>
</div>


<div class="modals">
  <div *ngIf="modalForm">
    <app-modal-form title="SOLICITAR TARJETAS" label="Número de tarjetas que quiere solicitar"
      (onClose)="modalForm = false" (onSend)="openConfirm($event)"></app-modal-form>
  </div>

  <div *ngIf="modalConfirm">
    <app-modal-contents title="CONFIRMACIÓN DE SOLICITUD DE TARJETAS" (onClose)="modalConfirm = false"
      (onSend)="openSuccess()">
      <h4 class="roboto">Estás a punto de solicitar {{value}} tarjetas, <br>
        confirma esta acción para terminar tu <br> pedido
      </h4>
    </app-modal-contents>
  </div>

  <div *ngIf="modalSuccess">
    <app-modal-contents [buttons]="false" class="roboto">
      <img src="assets/images/success-icon.png" alt="success">
      <h2>TU SOLICITUD FUE RECIBIDA</h2>
      <h4>Solicitaste {{value}} tarjetas</h4>
    </app-modal-contents>
  </div>
</div>