@import '../../../theme/mixings'; 

.search{
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 18px;
  i{
    margin-right: 3px;
  }
}

form{
    display: flex;
    flex-direction: column;
    .inputs{
      display: flex;
      flex-direction: column;
      @include desktop {
        flex-direction: row;
      gap: 40px;
      }

    }

}

.solicite{
  display:flex;
  justify-content: flex-end;
  button{
    margin-right: 90px;
    @include desktop {
      margin-right: 0;
    }
  }
}