
 
 /* Modal styling */
 .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(143, 141, 141, 0.2);
  }
  
  .modal-content {
    margin: 17% 37%;
    width: 600px;
    max-width: 600px;
    background-color: #fff;
    padding: 40px  50px;
    animation: scale 0.5s ease;
    box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03),
      100px 100px 80px rgba(0, 0, 0, 0.05);
      .modal-header {
        color: var(--coink-primary-color);
      }
  }
  
  .modal-body {
    margin-top: 5px;
  }
